@page "/"
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject AdminConfiguration AdminConfiguration
@inject IStringLocalizer<Home> L

<PageTitle>@L["PageTitle"] - @AdminConfiguration?.PageTitle</PageTitle>

<FluentCard>

    <h1>Hello, world!</h1>
    
    <h2>@L["PageTitle"]</h2>
    
    <p>
        <b>当前语言：</b>@CultureInfo.CurrentCulture.DisplayName | @CultureInfo.CurrentCulture.Name
    </p>
  
    <p>
        The following <code>&lt;input&gt;</code> elements use
        <code>CultureInfo.InvariantCulture</code>.
    </p>

    <section>
        <p>Welcome to your new app.</p>
        <p>
            <b>TestKey:</b> @L["TestKey"]
        </p>
    </section>
    
    <FluentStack>
        <FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Artist())" Width="50px"/>
        <FluentEmoji Value="@(new Emojis.SmileysEmotion.Color.Default.RollingOnTheFloorLaughing())" Width="150px" />

        @(new Emojis.Objects.Color.Default.Accordion().ToMarkup("280px"))
        @(new Emojis.TravelPlaces.Color.Default.Ambulance().ToMarkup("500px"))
    </FluentStack>

    <b>Icon:</b> <FluentIcon Value="@(new Icons.Regular.Size24.Save())"/>
    <b>Emoji:</b> <FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Artist())"/>
    <b>Button:</b> <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>


<FluentDialogProvider/>